{% extends "template.html" %}
{% block conteudo %}
  <h1>To Do List</h1>
  <h2>In development...</h2>
  <div class="check-list">
    <table>
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Status</th>
          <th>Prioridade</th>
          <th>Data de Início</th>
        </tr>
      </thead>
      <tbody>
        {% for task in lista_task %}
          {% if task.status == "Concluido" %}
            <tr>
              <td>{{ task.desc_curta }}</td>
              <td>{{ task.status }}</td>
              <td>{{ task.prioridade }}</td>
              <td>{{ task.data_inicio }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <a href="{{ url_for('index') }}">Voltar</a>
  </div>
{% endblock %}
